// [data-theme="default"] {}

[data-theme='box'] {
    .menus-container {
        border-radius: 0px;
    }

    .menu__option__radio-option {
        &:checked + .label {
            &:before {
                box-shadow: inset 0 0 0 0.4em var(--primary-color);
            }
        }
    }

    .menu__option {
        .label {
            border-radius: 0px;

            &--radio:before {
                border-radius: 0px;
            }
        }
    }

    .indicator {
        border-radius: 0px;
    }
}
