// [data-theme="default"] {}

[data-theme='cyan'] {
    .progress {
        background: #48f6d9;
    }

    .indicator {
        border: 4px solid #48f6d9;
        color: #48f6d9;
        background-color: #455a643a;

        &.glow {
            box-shadow:
                0 10px 10px #48f6d9,
                0 0 30px #48f6d9;
        }
    }

    .video-metadata {
        &__label {
            color: white;
        }

        &__description {
            color: white;
        }

        &__timecycle {
            color: white;
        }
    }

    // Radio row (unselected)
    .menu-wrapper input + .label {
        color: #888888;
        background-color: #455a643a;
    }

    // Radio row (selected)
    .menu-wrapper input:checked + .label {
        color: black;
        background-color: #48f6d9;
    }

    // Radio circle (unselected)
    .menu-wrapper .label:before {
        box-shadow: inset 0 0 0 0.1em #555;
    }

    // Radio circle (selected)
    .menu-wrapper input:checked + .label:before {
        box-shadow: inset 0 0 0 0.5em #ffffff;
    }

    // Menu background
    .menu-container {
        background-color: rgba(0, 0, 0, 0.3);

        &.glow {
            box-shadow: 0 0px 20px 4px #48f6d9;
        }
    }

    // Non-radio element text
    .label-update {
        color: #b1b1b1;
    }

    &.dark {
        .menu-container {
            background-color: rgba(0, 0, 0, 0.6);
        }

        .indicator {
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
}

[data-theme='green'] {
    .progress {
        background: #00ff0071;
    }

    .indicator {
        border: 4px solid #00ff0071;
        color: white;
        background-color: #1a451a3a;

        &.glow {
            box-shadow:
                0 10px 10px #00ff0071,
                0 0 30px #00ff0071;
        }
    }

    .menu-wrapper input + .label {
        background-color: #1a451a3a;
    }

    .menu-wrapper input:checked + .label {
        background-color: #00ff0071;
    }

    .menu-wrapper .label:before {
        box-shadow: inset 0 0 0 0.1em #008800;
    }

    .menu-wrapper input:checked + .label:before {
        box-shadow: inset 0 0 0 0.5em #ffffff;
    }

    .menu-container {
        background-color: rgba(0, 0, 0, 0.3);

        &.glow {
            box-shadow: 0 0px 20px 4px #00ff0071;
        }
    }

    .label {
        color: white;
    }

    .label-update {
        color: #888;
    }

    &.dark {
        .menu-container {
            background-color: rgba(0, 0, 0, 0.6);
        }

        .indicator {
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
}

[data-theme='yellow'] {
    .progress {
        background: #ffff0071;
    }

    .indicator {
        border: 4px solid #ffff0071;
        color: white;
        background-color: #45451a3a;

        &.glow {
            box-shadow:
                0 10px 10px #ffff0071,
                0 0 30px #ffff0071;
        }
    }

    .menu-wrapper input + .label {
        background-color: #45451a3a;
    }

    .menu-wrapper input:checked + .label {
        background-color: #ffff0071;
    }

    .menu-wrapper .label:before {
        box-shadow: inset 0 0 0 0.1em #888800;
    }

    .menu-wrapper input:checked + .label:before {
        box-shadow: inset 0 0 0 0.5em #ffffff;
    }

    .menu-container {
        background-color: rgba(0, 0, 0, 0.3);

        &.glow {
            box-shadow: 0 0px 20px 4px #888800;
        }
    }

    .label {
        color: white;
    }

    .label-update {
        color: #888;
    }

    &.dark {
        .menu-container {
            background-color: rgba(0, 0, 0, 0.6);
        }

        .indicator {
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
}

[data-theme='red'] {
    .progress {
        background: #ff000071;
    }

    .indicator {
        border: 4px solid #ff000071;
        color: white;
        background-color: #451a1a3a;

        &.glow {
            box-shadow:
                0 10px 10px #ff000071,
                0 0 30px #ff000071;
        }
    }

    .menu-wrapper input + .label {
        background-color: #451a1a3a;
    }

    .menu-wrapper input:checked + .label {
        background-color: #ff000071;
    }

    .menu-wrapper .label:before {
        box-shadow: inset 0 0 0 0.1em #880000;
    }

    .menu-wrapper input:checked + .label:before {
        box-shadow: inset 0 0 0 0.5em #ffffff;
    }

    .menu-container {
        background-color: rgba(0, 0, 0, 0.3);

        &.glow {
            box-shadow: 0 0px 20px 4px #880000;
        }
    }

    .label {
        color: white;
    }

    .label-update {
        color: #888;
    }

    &.dark {
        .menu-container {
            background-color: rgba(0, 0, 0, 0.6);
        }

        .indicator {
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
}
